* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */

.card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,.2);
}

/* Title */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #667eea;
}

/* Buttons */

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5563d6;
}

/* Switch */

.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  color: #667eea;
}

/* TASKS */

.container {
  background: white;
  width: 600px;
  max-width: 90%;
  padding: 25px;
  border-radius: 12px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tasks {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task {
  background: #f4f6ff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.done {
  opacity: .6;
  text-decoration: line-through;
}

.task button {
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 5px;
}
